body{
    background-color: rgb(131, 48, 18);
}
h1{
    color: rgb(15, 15, 105);
    text-align: center;
}
.logo{
    width: 50px;
}
.colorpropio{
    background-color: rgb(92, 92, 228);
}
h2{
    color: rgb(15, 15, 105);
    text-align: center;
}
p{
   width: 300px;
   height: auto;
   border: 2px black solid;
   border-radius: 20px;
}
h3{
    color: black;
    text-align: center;
}
.container {  display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Nav Nav Nav"
      "MAIN MAIN FOTOS"
      "FOOTER FOOTER FOOTER";
  }
  
  .Nav { grid-area: Nav; }
  
  .MAIN { grid-area: MAIN; }
  
  .FOTOS { grid-area: FOTOS; }
  
  .FOOTER { grid-area: FOOTER; }

@media screen and(max-widht=480px){
    .container{  
        width: 100vw;
        height: 100vh;          
       
        grid-template-columns: 1fr ;
        grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
        grid-template-areas:
          "Nav Nav"
          "MAIN"
          "FOTOS"
          "F00TER";
      }
}
  

